<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d8d8296090.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">

    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="container-logo">
            <a class="logo-mercado-liebre" href="/home"> <img src="images/logo-mercado-liebre.svg"
                    alt="Logo Mercado Liebre"></a>

            <div class="busqueda">

                <input type="text" placeholder="Buscar productos, marcas..."><i class="fa-solid fa-magnifying-glass"
                    style="color: #000000;"></i>

            </div>

            <p class="p-cuotas"><img class="icon" src="images/icons/hand-holding-dollar-solid.svg"
                    alt="Hand Holding Dollar"> Compra
                en
                Cuotas y sin Tarjeta de Crédito!</p>

        </div>
        <nav>
            <ul>
                <li><a href="/ofertas"> Ofertas</a></li>
                <li><a href="/tiendasOficiales"> Tiendas Oficiales</a></li>
                <li><a href="/vender"> Vender</a></li>
                <li><a href="/ayuda"> Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="/register"> Creá tu cuenta</a><img class="icon" src="images/icons/id-card-regular.svg"
                        alt="Crea tu cuenta"></li>
                <li><a href="/login"> Ingresá </a> <img class="icon" src="images/icons/ingresar.svg" alt="Ingresá"></li>
                <li><a href="/compras"> Compras </a> <img class="icon" src="images/icons/carrito.svg" alt=""> </li>
            </ul>
        </nav>


        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <img class="banner" src="images/img-home-banner.jpg" alt="Home Banner">

    </header>
    <main>
        <section class="section1">

            <h2>Basado en tu última búsqueda</h2>
            <div class="caja-articles">
                <article>
                    <img class="img" src="images/img-cafetera-moulinex.jpg" alt="Imagen de cafetera moulinex">
                    <div class="container">
                        <p class="precio">$6770</p>
                        <p class="desc">40% off</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                        <i class="fa-solid fa-truck" style="color: #2ab44a;"></i>
                    </div>
                </article>


                <article>
                    <img class="img" src="images/img-macbook-pro-2019.jpg" alt="Imagen de macboock ">
                    <div class="container">
                        <p class="precio">230000$</p>
                        <p class="desc">20% off</p>
                        <p class="descripcion">MacBoock Pro 2019</p>
                        <i class="fa-solid fa-truck" style="color: #2ab44a;"></i>
                    </div>
                </article>


                <article>
                    <img class="img" src="images/img-samsung-galaxy-s10.jpg" alt="Imagen de samsung galaxy-s10">
                    <div class="container">
                        <p class="precio">$70500</p>
                        <p class="desc">10% off</p>
                        <p class="descripcion">Samsung s10</p>
                        <i class="fa-solid fa-truck" style="color: #2ab44a;"></i>
                    </div>
                </article>


                <article>
                    <img class="img" src="images/img-tv-samsung-smart.jpg" alt="Imagen de smart tv samsung">
                    <div class="container">
                        <p class="precio">$23200</p>
                        <p class="desc">5% off</p>
                        <p class="descripcion">Tv Samsung 43"</p>
                        <i class="fa-solid fa-truck" style="color: #2ab44a;"></i>
                    </div>
                </article>
            </div>

        </section>
        <section class="section2">
            <h2>Sección de Ofertas</h2>

            <div class="caja-articles2">
                <article>
                    <img class="img" src="images/img-cafetera-moulinex.jpg" alt="Imagen de cafetera moulinex">
                    <div class="container">
                        <p class="precio">$6770</p>
                        <p class="desc">40% off</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                        <i class="fa-solid fa-truck" style="color: #2ab44a;"></i>
                    </div>
                </article>


                <article>
                    <img class="img" src="images/img-macbook-pro-2019.jpg" alt="Imagen de macboock">
                    <div class="container">
                        <p class="precio">230000$</p>
                        <p class="desc">20% off</p>
                        <p class="descripcion">MacBoock Pro 2019</p>
                        <i class="fa-solid fa-truck" style="color: #2ab44a;"></i>
                    </div>
                </article>


                <article>
                    <img class="img" src="images/img-samsung-galaxy-s10.jpg" alt="Imagen de samsung galaxy-s10">
                    <div class="container">
                        <p class="precio">$70500</p>
                        <p class="desc">10% off</p>
                        <p class="descripcion">Samsung s10</p>
                        <i class="fa-solid fa-truck" style="color: #2ab44a;"></i>
                    </div>
                </article>


                <article>
                    <img class="img" src="images/img-tv-samsung-smart.jpg" alt="Imagen de smart tv Samsung">
                    <div class="container">
                        <p class="precio">$23200</p>
                        <p class="desc">5% off</p>
                        <p class="descripcion">Tv Samsung 43"</p>
                        <i class="fa-solid fa-truck" style="color: #2ab44a;"></i>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="main-footer">
            <div class="container-footer">
                <i class="fa-solid fa-credit-card"></i>
                <h2 class="h2-footer">Pagá con tarjeta o en efectivo</h2>
                <p class="texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="container-footer">
                <i class="fa-solid fa-gift"></i>
                <h2 class="h2-footer">Envío gratis desde $ 2.500</h2>
                <p class="texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="container-footer">
                <i class="fa-solid fa-user-shield"></i>
                <h2 class="h2-footer">Seguridad, de principio a fin</h2>
                <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>